* {
    margin: 0;
    padding: 0;
    font-family:'Times New Roman', Times, serif;
    box-sizing: border-box;
}

/* Scroll behavior when clicking on the nav bar links */
html {
    scroll-behavior: smooth;
}

/* Styling for the body of the website */
body {
    background: #080808;
    color: #fff;
}

/* ----- Header Section ----- */

/* Styling for the background image */
#header {
    width: 100%;
    height: 100vh;
    background-image: url(Images/);
    background-size: cover;
    background-position: center;
}

/* Adding some padding to the left side of the website */
.container {
    padding: 10px 10%;
}

/* Adjusting the navigation bar */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* Adjusting the size of the logo */
.logo {
    width: 140px;
}

/* Adjusting the nav bar to fit them horizontally on the top of the page */
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

/* Changing the color and font size of the nav bar links */
nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

/* Creating an underline effect under the nav bar links */
nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

/* Displaying the underline once the cursor hovers over the links */
nav ul li a:hover::after {
    width: 100%;
}

/* Font size and position of header-text */
.header-text {
    margin-top: 30%;
    font-size: 30px;
}

/* Font size and position of h1 */
.header-text h1 {
    font-size: 60px;
    margin-top: 10px;
}

/* Font size and position of h2 */
.header-text h2 {
    font-size: 40px;
    margin-top: 35px;
}

/* Font size and position of p */
.header-text p {
    font-size: 20px;
    margin-top: 20px;
}

/* ----- About Section ----- */

/* Adding margin space between the header and about section */
#about {
    padding: 80px 0;
    color: #ababab;
}

/* Moving the two columns to different sides */
.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* Width of the column is 35% */
.about-col-1 {
    flex-basis: 35%;
}

/* Rounding out the corner on the image */
.about-col-1 img {
    width: 100%;
    border-radius: 15px;
}

/* Width of the column is 60% */
.about-col-2 {
    flex-basis: 60%;
}

/* Font size, color and weight of the subtitle */
.subtitle {
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}

/* Fixing the display of the tab titles */
.tab-titles {
    display: flex;
    margin: 20px 0 40px;
}

/* Changing the font size, the cursor, and position */
.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

/* What the links will look like after */
.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

/* Width of the underline */
.tab-links.active-link::after {
    width: 50%;
}

/* Style of bullet points */
.tab-contents ul li {
    list-style: none;
    margin: 10px 0;
}

/* Font size and color of the bullet points */
.tab-contents ul li span {
    color: #b54769;
    font-size: 14px;
}

/*  */
.tab-contents {
    display: none;
}

/*  */
.tab-contents.active-tab {
    display: block;
}

/* ----- Services/Projects Section ----- */

/* 30 pixels from top and bottom and 0 from left to right */
#services {
    padding: 30px 0;
}

/* Separating the list into individual grids */
.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

/* Creating a gray background on each grid */
.services-list div {
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}

/* Increasing the font size of the icons */
.services-list div i {
    font-size: 50px;
    margin-bottom: 30px;
}

/* Change font size and weight of the title and add some padding to the bottom */
.services-list div h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

/* Change the style of the links */
.services-list div a {
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

/* Background turns red and moves up whenever it hovers */
.services-list div:hover {
    background: #ff004f;
    transform: translateY(-10px);
}

/* ----- Portfolio Section ----- */

/* Padding 50 pixels on the top and bottom and 0 on the left and right */
#portfolio {
    padding: 50px 0; 
}

/* Putting images into grid */
.work-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

/* Rounding out the corners */
.work {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

/* Filling up the grid with the images */
.work img {
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

/* Creating a red color gradient onto the images along with the text */
.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), #ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

/* Adding some space between title and description */
.layer h3 {
    font-weight: 500;
    margin-bottom: 20px;
}

/* Created a white circle background with the red icon */
.layer a {
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

/* Image slightly zooms in when hovering */
.work:hover img {
    transform: scale(1.1);
}

/* Displays content once hovered over */
.work:hover .layer {
    height: 100%;
}

/* Adding a "see more" button adding padding and rounding out the corners */
.btn {
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
}

/* Adding background color to the button */
.btn:hover {
    background: #ff004f;
}

/* ----- Portfolio Section ----- */

/* Left column gets 35% of space */
.contact-left {
    flex-basis: 35%;
}

/* Right column gets 60% of space */
.contact-right {
    flex-basis: 60%;
}

/* Adding some space on top */
.contact-left p {
    margin-top: 30px;
}

/* Changing the color and font of the icons */
.contact-left p i {
    color: #ff004f;
    margin-right: 15px;
    font-size: 25px;
}

/* Adding some space between social icons and text */
.social-icons {
    margin-top: 30px;
}

/* Organizing the social media icons */
.social-icons a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}

/* Adding transition effect */
.social-icons a:hover {
    color: #ff004f;
    transform: translateY(-5px);
}

/* Moving the position of the button */
.btn.btn2 {
    display: inline-block;
    background: #ff004f;
}

/* Filling up the whole space on the right column */
.contact-right form {
    width: 100%;
}

/* Organizing and styling the text area */
form input, form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}

/* Fixing the button */
form .btn2 {
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}

/* Styling the copyright area */
.copyright {
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}

/* Changing font size to the copyright icon */
.copyright i {
    font-size: 10px;
}

/* ----- CSS for mobile devices ----- */

/* Hiding the icons */
nav .fa-solid {
    display: none;
}

/* Creating a nav bar menu and changing CSS for smaller screens */
@media only screen and (max-width: 600px) {
    #header {
        background-image: url(Images/);
    }

    .header-text {
        margin-top: 100%;
        font-size: 16px;
    }

    .header-text h1 {
        font-size: 30px;
    }

    nav .fa-solid {
        display: block;
        font-size: 25px;
    }

    nav ul {
        background: #ff004f;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }

    nav ul li {
        display: block;
        margin: 25px;
    }

    nav ul .fa-solid {
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

    .subtitle {
        font-size: 40px;
    }

    .about-col-1, .about-col-2 {
        flex-basis: 100%;
    }

    .about-col-1 {
        margin-bottom: 30px;
    }

    .about-col-2 {
        font-size: 14px;
    }

    .tab-links {
        font-size: 16px;
        margin-right: 20px;
    }

    .btn.btn2 {
        display: block;
        background: #ff004f;
    }

    .contact-left, .contact-right {
        flex-basis: 100%;
    }

    .copyright {
        font-size: 14px;
    }
}

/* Successful message display */
#msg {
    color: #61b752;
    margin-top: -40px;
    display: block;
}